body {
  font-family: Helvetica, Arial, sans-serif;
}

.top-bar {
  border-bottom: 1px solid rgb(226, 226, 226);
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 43px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  box-sizing: border-box;
  background-color: white;
}

.header-left {
  color: black;
  display: flex;
  align-items: center;
}

.header-left * {
  margin: 0 8px;
}

.header-left svg {
  height: 16px;
  width: 16px;
  padding: 8px;
  border-radius: 3px;
  transition: 0.5s background-color;
  -webkit-transition: 0.5s background-color;
  -moz-transition: 0.5s background-color;
  -ms-transition: 0.5s background-color;
  -o-transition: 0.5s background-color;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  cursor: pointer;
}

.header-left svg:hover {
  background-color: rgb(246, 246, 246);
}

.header-left a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 14.25px;
}

.header-left a:hover {
  text-decoration: underline;
}

#nyt-logo {
  width: 195px;
  height: 33px;
  padding-top: 5px;
}

.header-link {
  text-decoration: none;
  display: inline-block;
}

.header-button {
  margin-right: 5px;
  padding: 10px;
  color: white;
  background-color: rgb(86, 123, 149);
  font-size: 11px;
  font-weight: 700;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  outline: none;
  border: 1px solid rgb(50, 104, 145);
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.5s;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  -ms-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
}

.header-button:hover {
  background-color: rgb(55, 90, 116);
}

.main-content {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  max-width: 1200px;
  margin: 120px auto 0 auto;
}

.article-content {
  display: grid;
  grid-template-columns: 225px 600px 225px;
  grid-gap: 15px 75px;
}

.article-content h1 {
  color: rgb(18, 18, 18);
  font-size: 40px;
  font-weight: 700;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.article-content > h2 {
  color: rgb(51, 51, 51);
  font-size: 20px;
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.article-content > p {
  color: rgb(51, 51, 51);
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 30px;
}

.article-content > p > a {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(50, 104, 145);
}

.article-content > * {
  grid-column: 2 / -2;
}

.editors-picks {
  grid-column: 3 / span 1;
  grid-row: span 6;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.editors-picks h6 {
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(226, 226, 226);
  font-weight: 700;
  font-size: 14px;
}

.editor-link {
  text-decoration: none;
  color: black;
  font-size: 14px;
  line-height: 17px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.editor-link:hover {
  text-decoration: underline;
}

.editor-content {
  display: flex;
  margin: 10px 0;
}

.editor-content p {
  margin: auto 0 auto 10px;
}

.editor-image {
  width: 75px;
  height: 75px;
}

.figure1 {
  width: 945px;
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 10px;
}

#image1 {
  width: 945px;
  height: 531.562px;
}

.figure1 figcaption {
  width: 75%;
  margin-top: 5px;
}

.figcaption-text {
  color: rgb(102, 102, 102);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 20px;
}

.photographer-text {
  color: rgb(136, 136, 136);
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 20px;
}

.info-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.info-author {
  margin-bottom: 15px;
  color: rgb(51, 51, 51);
  font-size: 15px;
  font-weight: 700;
  font-family: Helvetica, Arial, sans-serif;
}

.info-author a {
  text-decoration: rgb(235, 235, 235) underline;
  color: rgb(51, 51, 51);
}

.date-and-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-date {
  font-size: 13px;
  font-weight: 500;
}

.info-buttons-container {
  display: flex;
  align-items: center;
}

.circle-button {
  width: 27px;
  height: 27px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 0 8px;
  border: 1px solid rgb(238, 238, 238);
  padding: 5px;
}

.circle-button > svg {
  width: 15px;
  height: 15px;
}

.circle-button:hover {
  background-color: white;
}

#bookmark-icon,
#comment-icon {
  background-color: white;
  outline: none;
  border: none;
  cursor: pointer;
  margin: 0 3px;
  position: relative;
}

#bookmark-icon svg {
  stroke: black;
}

#bookmark-icon:hover svg {
  stroke: rgb(204, 204, 204);
}

#bookmark-icon svg {
  width: 27px;
  height: 27px;
}

#comment-icon svg {
  width: 27px;
  height: 27px;
  fill: rgb(71, 71, 71);
}

#comment-icon:hover svg {
  fill: rgb(172, 172, 172);
}

#comment-icon > span {
  position: absolute;
  color: rgb(51, 51, 51);
  top: 4px;
  left: 9px;
  font-size: 12px;
}

.create-account-ad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.create-account-ad p {
  color: rgb(51, 51, 51);
  font-size: 15px;
  line-height: 19px;
  font-weight: 700;
}

.create-account-ad a {
  color: rgb(50, 104, 145);
  font-size: 15px;
  line-height: 19px;
  font-weight: 700;
  text-decoration: none;
}

.separator {
  display: grid;
  grid-template-columns: 1fr 75px 1fr;
  margin: 10px;
  width: 100%;
}

.separator :nth-child(2) {
  border-bottom: 1px solid rgb(214, 214, 214);
}

.create-account-ad :nth-child(2) {
  margin: 5px 0;
}

.figure2 {
  grid-column: 1 / -1;
  width: 945px;
  align-self: center;
  justify-self: center;
  margin: 10px 0;
  position: relative;
}

#image2 {
  width: 945px;
  height: 576px;
}

.figure2 > figcaption > h4 {
  font-weight: 700;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 24px;
  font-size: 20px;
  margin: 3px 0;
}

.figure2 > figcaption > p {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(102, 102, 102);
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;
}

.img-caption {
  width: 228px;
  height: 120px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13.5px;
  line-height: 17px;
  position: absolute;
  z-index: 100;
}

.img-caption > h5 {
  display: inline;
  font-weight: 700;
  margin-right: 10px;
}

.img-caption > p {
  display: inline;
  color: rgb(71, 71, 71);
}

.v1 {
  top: 30%;
}

.v2 {
  top: 68%;
}

.h1 {
  left: 0%;
}

.h2 {
  left: 25%;
}

.h3 {
  left: 50%;
}

.h4 {
  left: 75%;
}

.short-separator {
  margin: 50px 0 20px 0;
  width: 100%;
  height: 1px;
  display: grid;
  grid-template-columns: 60px 1fr;
}

.short-separator > div:first-child {
  border-bottom: 1px solid black;
}

.figure2-author {
  font-size: 14px;
  margin-top: 10px;
}

.figure3 figcaption {
  width: 85%;
  margin: 5px 0;
}

#image4 {
  width: 600px;
  height: 401px;
}

.figure4 {
  margin: 20px 0;
}

.figure4 figcaption {
  width: 92%;
  margin: 5px 0;
}


.page-footer {
  width: 1200px;
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.page-footer a {
  color: rgb(102, 102, 102);
  font-size: 11px;
  text-decoration: none;
  padding: 8px;
}

.page-footer a:hover {
  text-decoration: underline;
}